<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Page </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/Browse.css">
</head>
<body>
    {{>navbar}}
    <main>
        <div class="main-container">
            <div class="container">
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>10th Science</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>11th Physics</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>12th Physics</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>8th Maths</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>12th English</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>7th Marathi</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>10th Hindi</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
                <div class="card">
                    <img src="./image/Bookws.jpeg">
                    <h1>9th History</h1>
                    <p><button class="btn"> Check </button></p>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>