<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Page </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/Browse.css">
</head>
<body>
    {{>navbar}}
    <main>
        <div class="main-container">
            <div class="container">
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/10th Science.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>10th Science</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/11th Physics Part 1.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>11th Physics</h5>
                    </div>
                </div> <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/9th Science.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>9th Science</h5>
                    </div>
                </div> <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/12th Boilogy.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>12th Biology</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/10th English.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>10th English</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/8th Maths.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>8th Maths</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/10th Hindi.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>10th Hindi</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/9th Marathi.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>9th Marathi</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/9th Science.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>9th Science</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <a href="#"><img src="./image/10th Science.webp"></a>
                    </div>
                    <div class="about-img">
                        <h5>10th Science</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>