<footer class="site-footer">
        <div class="footer-Container">
        <div class="footer-box">
            <div class="footer-logo">
                <img src="../image/BookScrap (1).jpg" alt="logo">
            </div>
            <div class="Short">
                <p>
                    BookScrap - a groundbreaking online platform designed to unite
                    book enthusiasts of all kinds, including students seeking cost-effective solutions
                    for their college journey.
                </p>
            </div>
        </div>
        <div class="links">
            <h5>Quicks Link</h5>
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/Browse"> Browse </a></li>
                <li><a href="/Sell"> Sell </a></li>
                <li><a href="/login"> Login </a></li>
                <li><a href="/Signup"> Sign Up </a></li>
            </ul>
        </div>
    </div>
    <div class="promo">
        Design With <i class="fa-solid fa-heart"></i> By Anurag
    </div>
</footer>